.posts-list {
	&.post-columns {
		overflow: hidden;
		margin: 0 -10px;
		.post-item {
			border: none;
			&.col-half-width {
				width: 50%;
				float: left;
				padding: 0 10px;
				box-sizing: border-box;
			}
		}
	}
	.post-item {
		margin-bottom: 40px;
		padding-bottom: 20px;
		border-bottom: 1px solid #ddd;
		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
		}
		.post-date {
			float: left;
			color: $brandOrange;
			margin-right: 20px;
			padding-right: 20px;
			box-sizing: border-box;
			line-height: 1.5;
			width: 80px;
			text-align: right;
			text-transform: uppercase;
			border-right: 5px solid $brandOrange;
			padding-bottom: 10px;
			margin-left: -115px;
			.date {
				font-size: 30px;
				font-weight: 600;
			}
			.month-year {
				font-size: 12px;
			}
		}
		.post {
			overflow: hidden;
			.post-title {
				margin-bottom: 20px;
			}
			.post-img {
				padding-top: 56.25%;
				background-size: cover;
				background-position: 50% 50%;
				background-repeat: no-repeat;
				position: relative;
				margin-bottom: 20px;
				a {
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					border: 1px solid $brandBlue;
					&:hover {
						border-color: $brandOrange;
					}
				}
			}
			.post-content {
				overflow: hidden;
				max-height: 165px;
				position: relative;
				min-height: 60px;
				&:after {
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					height: 40px;
					background: url('images/bg-read-more.png') repeat-x;
				}
			}
			.post-link-holder {
				text-align: right;
				a {
					color: $brandOrange;
				}
			}
		}
	}
}
@media screen and (max-width: $tablet) {
	.post {
		.post-date {
			margin-top: 0;
			font-size: 16px;
		}
	}
	.posts-list {
		.post-item {
			.post-date {
				float: none;
				margin: 0 0 20px;
				text-align: right;
				opacity: .25;
				font-weight: 600;
				text-transform: uppercase;
				border: none;
				color: $brandBlue;
				width: 100%;
				padding: 0;
				.date {
					font-size: 16px;
					display: inline;
				}
				.month-year {
					display: inline;
					font-size: 16px;
				}
			}
		}
	}
}
