.breadcrumbs {
	overflow: hidden;
	margin-bottom: 40px;
	li {
		display: inline-block;
		vertical-align: top;
		margin-left: 7px;
		&.separator {
			opacity: .25;
		}
		&:first-child {
			margin-left: 0;
		}
		a {
			text-decoration: none;
			opacity: .25;
			color: $brandBlue;
			&:hover {
				opacity: 1;
			}
		}
		strong {
			color: $brandOrange;
		}
	}
}
@media screen and (max-width: $tablet) {
	.breadcrumbs {
		display: none;
	}
}
