%s-caption {
	position: absolute;
	bottom: 1px;
	left: 1px;
	right: 1px;
	padding: 10px 20px;
	background: rgba(35,50,76,.75);
	color: $white;
	font-weight: 300;
	font-style: italic;
	text-align: center;

}